footer {
    width: 100%;
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-top: 5px;
    padding: 2em;
}

.footer-link {
    width: 10em;
    height: 10em;
    border: 2px solid #fff;
    text-decoration: none;

    &:hover {
        cursor: auto;
    }
}

@media (max-width: 415) {
    footer {
        height: auto;
    }
}
