* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #dbeefe;
  /* background: linear-gradient(30deg, #556fc7, #2822e2) fixed; */
  background: linear-gradient(30deg, #2f4079, #050250) fixed;
  /* background: url('../src/assets/fnweb.jpg') fixed center; */
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

